.service__item-img-box:hover {
    -webkit-transition: .3s;
    transition: .3s
}

.service__item-img-box p {
    padding: 15px 5px;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-size: 18px;
}

@media screen and (max-width: 992px) {
    .service__item-img-box p {
        line-height: 19px;
        font-size: 14px;
        padding: 5px;
    }
}

@media screen and (max-width: 768px) {
    .service__item-img-box p {
        line-height: 14px;
        font-size: 12px;
    }
}
@media screen and (max-width: 720px) {
    .service__item-img-box p {
        font-size: 20px;
        line-height: 30px;
        padding: 15px 5px;
    }
}
.service__item-wrap:hover p {
    opacity: 1;
    -webkit-transition: .6s;
    transition: .6s
}
.service__item-desc {
    background: transparent;
    -webkit-transition: .3s;
    transition: .3s;
    height: auto;
    min-height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
}
.service__item-wrap:hover .service__item-desc {
    background:#000;
    opacity: .8;
    -webkit-transition: .5s;
    transition: .5s;
}