/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');*/

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(../fonts/lato/Lato-Bold.ttf)
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(../fonts/roboto/Roboto-Light.ttf)
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../fonts/roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(../fonts/roboto/Roboto-Medium.ttf)
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(../fonts/roboto/Roboto-Bold.ttf)
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto';
	font-size: 18px;
	color: #111;
	font-weight: 400;
	position: relative;
}

body.hidden {
	overflow: hidden;
}

body p {
	font-family: 'Roboto';
	font-size: 16px;
	color: #111;
	font-weight: 400;
	line-height: 26px;
}

body h1 {
	font-family: 'Roboto';
	font-size: 48px;
	font-weight: 400;
	color: #000;
	/*text-transform: uppercase;*/
	letter-spacing: 5.4px;
}

body h2 {
	font-family: 'Roboto';
	font-size: 24px;
	color: #000;
	font-weight: 400;
}

body h3 {
	font-family: 'Roboto';
	font-size: 22px;
	color: #000;
}

body h4 {
	font-family: 'Roboto';
	font-size: 18px;
	line-height: 28px;
}

body h5 {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 26px;
}

@media screen and (max-width: 767px) {
	body h1 {
		font-size: 36px;
	}
}

ul {
	list-style: none;
}

body button:focus {
	outline: none;
}

.color-blue {
	color: #0993f0;
}

/*.color-orange {
	color: #fe8a01;
}*/

.wrapper {
	width: 100%;
	max-width: 1290px;
}

.shadow-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	z-index: 0;
}

.shadow-screen.active {
	opacity: 0.8;
	z-index: 1;
}















/*HEADER */
.header__top {
	background-color: #fff;
	padding: 15px 0;
}
.header__top-inner {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	padding: 0 0 10px;
}

.header__phone-list {
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: space-between;
	margin: 0;
}

.header__phone-item {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: space-between;
	margin: 5px 10px 0 ;
}

.header__phone-item i {
	width: 10px;
	margin: auto;
	color: #0993f0
}

.header__phone-link {
	color: #000404;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	/* Text style for "+, 38 (044" */
	letter-spacing: 1.6px;
	margin-top: 10px;
}

.header__phone-link:hover {
	color: #000404;
}

.header__socials-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 23px;
}

.header__socials-item {
	margin-left: 10px;
	/*background-color: #0993f0;*/
	border: 1px solid #0993f0;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    transition-duration: .3s
}

.header__socials-item i {
	color: #0993f0;
	transition-duration: .3s;
}

/*.header__socials-youtube {
	background-color: #0993f0;
}

.header__socials-youtube i {
	color: #fff;
}*/

.header__socials-item:hover {
	background-color: #0993f0;
	transition-duration: .3s;
}

.header__socials-item:hover.header__socials-item i {
	color: #fff;
	transition-duration: .3s;
}

.base-button {
	box-shadow: 0 2px 10px 1px rgba(9, 147, 240, 0.7);
	border-radius: 2px;
	background-color: #0993f0;
	color: #fff;
	padding: 15px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	/* Text style for "Заказать к" */
	letter-spacing: 0.8px;
	transition-duration: .3s;
}

.base-button:hover {
	color: #fff;
	text-decoration: none;
	box-shadow: none;
	transition-duration: .3s;
}

@media screen and (max-width: 1300px) {
	.header__top-inner {
		justify-content: space-around;
	}
}

@media screen and (max-width: 1080px) {
	.header__phone-link {
		font-size: 14px;
	}
}

@media screen and (max-width: 992px) {
	.header__top-inner{
		flex-direction: column;
		align-items: center;
	}

	.header__socials-block {
		justify-content: center;
		margin: 0;
	}

	.header__phone-list {
		margin: 0 0 15px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.header__phone-item {
		flex-direction: row;
		align-items: center;
	}

	.header__phone-link {
		font-size: 11px;
		margin-top: 4px;
	}

	.header__phone-item i {
		margin: 0;
		margin-right: 10px;
	}

	.header__socials {
	    display: flex;
	    align-items: center;
	    width: 100%;
	    max-width: 500px;
	    justify-content: space-around;
	}

	.base-button {
		padding: 5px;
		font-size: 12px;
	}
}

.header__bottom {
	background-color: #020000;
	opacity: 0.84;
}


.header__bottom .navbar-collapse {
	justify-content: center;
}

.header__bottom .nav-item {
	position: relative;
	margin: 0 10px;
	padding: 9px 0;
}

.header__bottom .nav-item:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 6px;
	box-shadow: 0 9px 8px 0px #0993f0;;
	background-color: #0993f0;
	display: none;
}

.header__bottom .nav-item:hover.nav-item:before {
	display: block;
}

.header__bottom .nav-link {
	color: #f2f4f4;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	/* Text style for "Г, лавная" */
	letter-spacing: 0.16px;
}

.header__bottom .navbar-toggler-icon {
	height: unset;
	width: unset;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border: 3px solid #fff;
	padding: 5px 7px;
    border-radius: 4px;
}

.header__bottom .navbar-toggler-icon i {
	color: #fff;
}

@media screen and (max-width: 767px) {

	.header__bottom .nav-link {
		font-size: 14px;
	}

	.header__bottom .navbar {
		justify-content: flex-end;
	}
}

/*MAIN BANNER*/
.main-banner {
	display: none;
	background-image: url('../img/image5.jpg');
	background-size: contain;
	width: 100%;
	height: 44vw;
	background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
	#main-video {
		display: none;
	}

	.main-banner {
		display: block;
	}

}



/*PROGRAM BLOCK*/

.programs {
	padding: 80px 0;
}

.programs__heading-box {
	margin-bottom: 60px;
}

.programs__heading-box img {
	margin-bottom: 10px;
}

.programs__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	max-width: 340px;
}

.programs__item-img-box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: calc(100% - 35%);
	margin-bottom: 35px;
	box-shadow: 15px 15px 0px #0993f0;
	transition-duration: .3s;
}

.programs__item-img-box:hover {
	transform: translate(15px, 15px);
	box-shadow: none;
	transition-duration: .3s;
}

/*.programs__item-img-box:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	bottom: -4%;
	right: -4%;
	background-color: #0993f0;
	z-index: -1	
}*/

/*.programs__item-title {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}*/

.programs__item-img-box img {
	width: 100%;
	object-fit: contain;
}

.programs__item-link, .programs__item-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.programs__item-link {
	background-color: #0993f0;
	opacity: 0;
	transition-duration: .3s;
}



.programs__item-img-box:hover .programs__item-link {
	opacity: .7;
	color: #fff;
	text-decoration: none;
	transition-duration: .3s;
} 

.programs__item-link span {
	margin-bottom: -26px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	text-decoration: underline;
}

.programs__item-img-box:hover .programs__item-title {
	opacity: 0;
	transition-duration: .3s;
}

.programs__item-desc {
	margin-bottom: 35px;
	text-align: left;
}

.programs__item-desc img {
	margin-right: 15px;
}

.programs__item-desc-value {
	margin-bottom: 5px;
}

.programs__item-desc-value span {
	color: #111111;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.programs__item-text p {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
	padding: 0 2px;
}

@media screen and (max-width: 1024px) {
	.programs__item-text p {
		font-size: 14px;
	}
}

@media screen and (max-width: 992px) {
	.programs {
		padding: 40px 0 40px;
	}

	

	.programs__item-img-box h4 {
		font-size: 16px;
	}

	.programs__item-text p {
		font-size: 12px;
		line-height: 20px;
	}
}

@media screen and (max-width: 767px) {
	.programs .col-12.col-md-4{
		box-shadow: 0 7px 24px rgba(0,0,0,.25);
		margin-bottom: 20px;
		padding: 15px;
	}
	.programs__item {
		max-width: unset;
		text-align: center;
		margin-bottom: 30px;
	}

	.programs__item-text p {
		font-size: 16px;
		line-height: 26px;
	}

	.programs__item-img-box h4 {
		font-size: 32px;
	}
}


@media screen and (max-width: 500px) {
	.programs {
		padding: 20px 0 20px;
	}
	.programs__item-img-box h4 {
		font-size: 18px;
	}
}


/*ONLINE BLOCK*/
.online {
	background-color: #fafbfc;
	padding: 60px 0;
}

.online__video-wrap {
	width: 100%;
	max-width: 665px;
	position: relative;
}

#online-video {
	transition-duration: .3s
}

#online-video.paused {
	box-shadow: -15px 15px 0px #0993f0;
	transition-duration: .3s
}

.video-button-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-button-box1, .video-button-box2, .video-button-box3 {
	border: 1px solid #0993f0;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-button-box1 {
	height: 110px;
	width: 110px;
}

.video-button-box2 {
	height: 150px;
	width: 150px;
}

.video-button-box3 {
	height: 200px;
	width: 200px;
}

#online__video-button {
	position: relative;
    width: 90px;
    height: 90px;
    background: no-repeat;
    border: none;
    outline: unset;
}

#online__video-button.play:before {
	content: '\f144';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 90px;
    color: #0993f0;
    display: inline-block;
    line-height: 90px;
}

#online__video-pause-button {
	position: relative;
    width: 90px;
    height: 90px;
    background: no-repeat;
    border: none;
    outline: unset;
}

#online__video-pause-button:before {
	content: '\f28b';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 90px;
    color: #0993f0;
    display: inline-block;
    line-height: 90px;
}

.video-pause-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: transparent;
	display: none;
	z-index: 5;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.video-pause-wrap.visible {
	display: flex;
	transition-duration: .3s;
}

.online__video-wrap:hover .video-pause-wrap.visible {
	opacity: 1;
	transition-duration: .3s;
}

.online__text-wrap {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.online__text-heading {
	width: 100%;
	max-width: 475px;
	height: 101px;
	background-image: url('../img/online.png');
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	align-items: flex-end;
	margin-bottom: 19px;
}

.online__text-heading h1 {
	font-size: 40px;
	letter-spacing: 3.4px;
	margin: auto;
	margin-bottom: 0;

}

.online__text-box {
	max-width: 475px;
}

.online__text-box p {
	font-size: 14px;
    color: #111;
    font-weight: 500;
    line-height: 22px;
}

.online__text-name {
	align-self: flex-start;
}

.online__text-name p {
	color: #a2a3a4;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
}

@media screen and (max-width: 992px) {
	.online__video-wrap {
		max-width: unset;
	}
	.online__text-box {
		max-width: unset;
	}
	.online__text-name {
		align-self: unset;
	}
}

@media screen and (max-width: 520px) {
	.video-button-box1 {
		height: 55px;
		width: 55px;
	}

	.video-button-box2 {
		height: 75px;
		width: 75px;
	}

	.video-button-box3 {
		height: 100px;
		width: 100px;
	}

	#online__video-button.play:before, #online__video-pause-button:before {
		font-size: 40px;
	}

	.online__text-heading h1 {
		font-size: 24px;
	}

	.online__text-name {
		font-size: 16px;
	}
}


/*QUOTE BLOCK*/

.quote {
	padding: 60px 0;
}

.quote__wrap {
	background-image: url('../img/quote.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 49vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
}

.quote__wrap-left {
	height: 100%;
	width: 50%;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}

.quote__text-box {
	padding: 44px 20px 20px 20px;
	max-width: 345px;
	box-shadow: 0 5px 10px 1px rgba(60, 62, 64, 0.35);
	border-radius: 2px;
	background-color: #0993f0;
	position: relative;
	margin-bottom: 290px;
}

.quote__text-box:before {
	content: '';
	position: absolute;
	background-image: url('../img/quote_item.png');
	background-repeat: no-repeat;
	background-size: contain;
	top: -31px;
	left: calc(100% - 58%);
	height: 50px;
	width: 20%;

}

.quote__text-box p {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #fff;
	text-align: center;
}

.quote__wrap-right {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: flex-end;
    justify-content: flex-end;
}

.quote__wrap-right img {
	margin-bottom: 58px;
    margin-right: 138px;
	object-fit: contain;
	/*max-height: 120px;*/
}

@media screen and (max-width: 992px) {
	.quote__text-box {
		padding: 30px 30px 13px 30px;
		max-width: 311px;
	}
	.quote__text-box p {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
	.quote {
		padding: 80px 0 150px;
	}
	.quote__wrap {
		flex-direction: column;
		align-items: center;
	}

	.quote__wrap-left {
		width: 100%;
		justify-content: flex-end;
		align-items: flex-start; 
	}

	.quote__text-box:before {
		top: -29px;
	}

	.quote__wrap-right {
		width: 100%;
		justify-content: center;
		align-items: center; 
	}

	.quote__wrap-right img {
		margin: unset;
	}
}

@media screen and (max-width: 690px) {
	.quote {
		padding: 80px 0;
	}
	.quote__wrap {
		background-image: none;
		height: unset;
	}
	.quote__wrap-left {
		justify-content: center;
	}
	.quote__text-box {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 350px) {
	.quote__text-box:before {
		top: -24px;
	}
}



/*POCHEMU BLOCK*/

.pochemu {
	padding: 90px 0;
	background-image: url('../img/pochemu/pochemu.jpg');
	/*background-size: contain;*/
	width: 100%;
	background-repeat: no-repeat;
	/*height: 55vw;*/
	position: relative;
}

.pochemu:before {
	position: absolute;
	content: '';
	background-image: url('../img/pochemu/massage_academy.png');
	right: 0;
	top: 0;
	height: 100%;
	width: 110px;
	background-size: contain;
	background-repeat: no-repeat;
}

.pochemu h1 {
	color: #fff;
    font-weight: 500;
    line-height: 41px;
    max-width: 900px;
    margin: auto;
    font-size: 27px;
    margin-bottom: 60px;
}

.pochemu__wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	max-width: 343px;
}

.pochemu__item {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 25px 10px
}
.pochemu .col-12.col-md-4.p-0 {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.pochemu .col-12.col-md-4.p-0:nth-child(3), .pochemu .col-12.col-md-4.p-0:nth-child(6), .pochemu .col-12.col-md-4.p-0:nth-child(9) {
	border-right: none;
} 

.pochemu .col-12.col-md-4.p-0:nth-child(7), .pochemu .col-12.col-md-4.p-0:nth-child(8), .pochemu .col-12.col-md-4.p-0:nth-child(9) {
	border-bottom: none;
} 

.pochemu__item-text p {
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
	/* Text style for "Только на" */
	letter-spacing: 0.8px;
}

.pochemu__item-layout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #0992ef;
	transition-duration: .5s;
	z-index: 2;
	color: #fff;
}

.pochemu__item-layout img {
	margin-bottom: 30px;
}

.pochemu__item-layout p {
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
}

/*.pochemu .col-12.col-md-4.p-0:nth-child(1):hover .pochemu__item-layout, 
.pochemu .col-12.col-md-4.p-0:nth-child(4):hover .pochemu__item-layout, 
.pochemu .col-12.col-md-4.p-0:nth-child(8):hover .pochemu__item-layout {
	left: 100%;
	z-index: 3;
	transition-duration: .5s;
	box-shadow: 0 0 20px rgba(60, 62, 64, 0.25);
}

.pochemu .col-12.col-md-4.p-0:nth-child(3):hover .pochemu__item-layout,
.pochemu .col-12.col-md-4.p-0:nth-child(9):hover .pochemu__item-layout {
	left: -100%;
	z-index: 3;
	transition-duration: .5s;
	box-shadow: 0 0 20px rgba(60, 62, 64, 0.25);
}

.pochemu .col-12.col-md-4.p-0:nth-child(2):hover .pochemu__item-layout,
.pochemu .col-12.col-md-4.p-0:nth-child(6):hover .pochemu__item-layout, 
.pochemu .col-12.col-md-4.p-0:nth-child(5):hover .pochemu__item-layout {
	top: 100%;
	z-index: 3;
	transition-duration: .5s;
	box-shadow: 0 0 20px rgba(60, 62, 64, 0.25);
}

.pochemu .col-12.col-md-4.p-0:nth-child(7):hover .pochemu__item-layout {
	top: -100%;
	z-index: 3;
	transition-duration: .5s;
	box-shadow: 0 0 20px rgba(60, 62, 64, 0.25);
}*/

.pochemu .col-12.col-md-4.p-0:nth-child(1):before, 
.pochemu .col-12.col-md-4.p-0:nth-child(2):before, 
.pochemu .col-12.col-md-4.p-0:nth-child(4):before, 
.pochemu .col-12.col-md-4.p-0:nth-child(5):before {
	position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    bottom: -9px;
    right: -9px;
    background-color: #ffffff;
    opacity: 0.3;
    border-radius: 50%;
    z-index: 3
}


@media screen and (max-width: 1200px) {
	.pochemu {
		background-repeat: repeat;
	}
}

@media screen and (min-width: 768px) {
	.pochemu .col-12.col-md-4.p-0:nth-child(1):hover .pochemu__item-layout, 
	.pochemu .col-12.col-md-4.p-0:nth-child(4):hover .pochemu__item-layout, 
	.pochemu .col-12.col-md-4.p-0:nth-child(8):hover .pochemu__item-layout {
		left: 100%;
		z-index: 3;
		transition-duration: .5s;
		box-shadow: 0 0 20px rgba(60, 62, 64, 0.25);
	}

	.pochemu .col-12.col-md-4.p-0:nth-child(3):hover .pochemu__item-layout,
	.pochemu .col-12.col-md-4.p-0:nth-child(9):hover .pochemu__item-layout {
		left: -100%;
		z-index: 3;
		transition-duration: .5s;
		box-shadow: 0 0 20px rgba(60, 62, 64, 0.25);
	}

	.pochemu .col-12.col-md-4.p-0:nth-child(2):hover .pochemu__item-layout,
	.pochemu .col-12.col-md-4.p-0:nth-child(6):hover .pochemu__item-layout, 
	.pochemu .col-12.col-md-4.p-0:nth-child(5):hover .pochemu__item-layout {
		top: 100%;
		z-index: 3;
		transition-duration: .5s;
		box-shadow: 0 0 20px rgba(60, 62, 64, 0.25);
	}

	.pochemu .col-12.col-md-4.p-0:nth-child(7):hover .pochemu__item-layout {
		top: -100%;
		z-index: 3;
		transition-duration: .5s;
		box-shadow: 0 0 20px rgba(60, 62, 64, 0.25);
	}
}

@media screen and (max-width: 767px) {
	.pochemu .col-12.col-md-4.p-0:hover .pochemu__item-layout {
		opacity: 0;
		transition-duration: .3s;
	}

	.pochemu .col-12.col-md-4.p-0 {
		border-right: none;
		border-bottom: 1px solid #fff;
	}

	.pochemu .col-12.col-md-4.p-0:before {
		display: none;
	}

	.pochemu .col-12.col-md-4.p-0:nth-child(7), .pochemu .col-12.col-md-4.p-0:nth-child(8), .pochemu .col-12.col-md-4.p-0:nth-child(9) {
		border-right: none;
		border-bottom: 1px solid #fff;
	}

	.pochemu__item-text p {
		text-align: center;
	}
}


/*COURSES BLOCK*/

.courses {
	padding: 70px 0;
	background-image: url('../img/courses.jpg');
	background-size: cover;
	background-attachment: unset;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .courses {
        background-attachment: fixed
    }
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
    .courses {
        -chrome-: only(;
        background-attachment: fixed;
        )
    }
}
.courses__item {
	width: 100%;
    max-width: 410px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
    background-color: #f8f9fb;
    overflow: hidden;
    margin-bottom: 40px;
    transition-duration: .3s;
}

.courses__item .courses__item-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.courses__item-img-box {
	width: 100%;
	padding: 25px;
}

.courses__item-img-box img {
	width: 100%;
}

.courses__item h2 {
	margin-bottom: 30px;
}

.courses__item-number {
	width: 110px;
	height: 110px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	bottom: calc(0% - 40px);
	right: calc(0% - 32px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.courses__item-number span {
	color: #0a9dff;
	font-family: "Lato TR";
	font-size: 36px;
	font-weight: 700;
	line-height: 26px;
	margin-right: 10px;
    margin-bottom: 20px;
}

.courses__item-link-text {
	color: #111;
	margin-bottom: 25px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}

.courses .col-12.col-md-4:hover .courses__item {
	transform: translate(0px, -10%);
	transition-duration: .3s;
}

.courses__item:hover .courses__item-link-text {
	color: #0993f0;
	text-decoration: underline;
}

@media screen and (max-width: 992px) {
	.courses__item h2 {
		font-size: 16px;
	}
}

@media screen and (max-width: 767px) {
	.courses__item {
		max-width: unset;
	}
}


/*REVIEW BLOCK*/

.review {
	padding: 70px 0 150px;
	background: #0993f0; 
	background-image: url('../img/review2.jpg');
	background-size: cover;
	background-attachment: fixed;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .review {
        background-attachment: fixed
    }
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
    .review {
        -chrome-: only(;
        background-attachment: fixed;
        )
    }
}

#eapps-google-reviews-c6560978-9dcf-419e-885f-42c84b011d8d {
	width: 70%;
	margin: auto;
}

/*.jsx-1570720278.eagr-reviews-skeleton-container div:nth-last-child(-n+1) {
	display: none !important;
}*/



/*FOOTER*/

.footer__contacts {
	width: 100%;
	height: 100%;
	background-image: url('../img/footer.jpg');
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-repeat: no-repeat;
}

.footer__contacts-wrap {
	/*width: 30%;*/
	height: 100%;
	max-height: 643px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	margin-right: 2%;
}

.footer__contacts-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 35px;
}

.footer__contacts-item h4 {
	color: #111111;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 26.84px;
	text-transform: uppercase;
}

.footer__contacts-item p {
	margin: 0; 
}

.footer__contacts-item a {
	color: #111111;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.footer__contacts-item a:hover {
	color: #111111;
	text-decoration: none;
}

.footer__contacts-item input {
	background: no-repeat;
	border: none;
	outline: none;
}

.footer__contacts-box .header__socials-block {
	justify-content: flex-start;
}

.footer__contacts-box .header__socials-item {
	margin-left: 0;
	margin-right: 15px;
}

#map {
	height: 643px;
	position: relative;
}

.map-block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
}

@media screen and (min-width: 1441px) {
	.footer__contacts-wrap {
		margin-right: 14%;
	}

	.footer__contacts-wrap img {
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 767px) {
	.footer__contacts-wrap {
		padding: 30px 0;
		margin: auto;
	}

	.footer__contacts-wrap img {
		margin-bottom: 35px;
	}
}