.advantages-item .t-btn {
	padding: 30px;
	height: unset;
	width: 100%;
	white-space: normal;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 40px;
}

.advantages-item .t228__right_buttons_but {
	width: 100%;
	display: block;
	
}

.advantages-item .t-btn .btn-top {
	font-size: 46px;
}

.advantages-item .t-btn .btn-bottom {
	font-size: 24px;
}

.help-project .advantages-item .t-btn {
	min-height: unset;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin: auto;
}

.reason__slider-wrap {
	margin-bottom: 60px;
}

.reason__slider {
	overflow: hidden;
}

.reason__slider.slick-initialized {
	overflow: visible;
}

.reason .slick-dots {
	bottom: -40px;
}

.reason .slick-dots li {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: #00000085;
}

.reason .slick-dots li.slick-active {
	background-color: #ff8c00;
}


.reason .slick-dots li button:before, .reason .slick-dots li.slick-active button:before {
	content: '';
}

.reason .t-col.flexx, .reason .t-col_flex {
	margin-top: 0;
}