@media (max-width: 1280px) {
    #portfolio-slider {
        padding: 0 50px;
        box-sizing: border-box;
    }
    #portfolio-slider .owl-prev {
        left: 0;
    }
    #portfolio-slider .owl-next {
        right: 0;
    }

    #portfolio-slider::after {
        width: 48%;
        top: 150px;
        right: 30px;
    }
    #portfolio-slider .item .project-image {
        top: 155px;
        right: -40px;
        width: calc(50% + 35px);
    }
}

@media (max-width: 1200px) {
    .main-nav .header-logo {
        width: 150px;
    }
    .site-header.scrolled .main-nav .header-logo {
        width: 120px;
    }

    .main-nav ul a {
        font-size: 17px;
    }
    
}

@media (max-width: 1024px) {
    #portfolio-slider .item .project-image {
        height: 280px;
    }
}

@media (max-width: 992px) {
    .site-header .container {
        justify-content: space-between;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .main-nav .menu {
        display: none;
    }
    .main-nav .menu-toggle {
        position: relative;
        display: block;
        width: 35px;
        height: 35px;
        padding: 0;
        border: none;
        background-color: transparent;
    }
    .main-nav .menu-toggle .line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 3px;
        transform-origin: center;
        transition: all .5s;
    }
    .main-nav .menu-toggle .line-1 {
        top: 5px;
    }
    .main-nav .menu-toggle .line-2 {
        top: 50%;
        transform: translateY(-50%);
    }
    .main-nav .menu-toggle .line-3 {
        bottom: 5px;
    }
    .main-nav .menu-toggle.open .line-1 {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    .main-nav .menu-toggle.open .line-2 {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    .main-nav .menu-toggle.open .line-3 {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    .main-nav .callback-btn-mobile {
        display: block;
        width: 35px;
        height: 35px;
        padding: 0;
        border: none;
        background-color: transparent;
    }
    .main-nav .callback-btn-mobile img {
        display: block;
        width: 35px;
        height: 35px;
        object-fit: contain;
    }

    .main-nav .header-logo {
        width: auto;
        height: 45px;
    }
    .site-header.scrolled .main-nav .header-logo {
        width: auto;
        height: 35px;
    }
    .site-header.scrolled .main-nav .header-logo img {
        width: auto;
        height: 100%;
    }

    .mobile-nav {
        position: fixed;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: calc(100vh - 96px);
        padding: 50px 20px;
        transform: translateX(-100%);
        background-color: #1e1f25;
        box-sizing: border-box;
        z-index: 90;
        transition: all .5s;
    }
    .site-header.scrolled .mobile-nav {
        height: calc(100vh - 66px);
    }
    .mobile-nav.open {
        transform: translateX(0);
    }
    .mobile-nav .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }


    .home-banner,
    .home-banner img,
    .home-banner .banner-bg,
    .home-banner .content-wrapper {
        min-height: 800px;
    }
    .home-banner .section-content {
        flex-direction: column;
        align-items: center;
    }
    .home-banner .section-content .content-column {
        width: 90%;
    }
    .home-banner .section-content .content-column:nth-of-type(2) {
        margin-top: 30px;
    }
    .home-banner .info-text {
        left: 20px;
    }

    .popup-form .form-wrap .close-btn {
        top: -50px;
        right: 0;
        left: auto;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .services-list .item {
        width: 50%;
    }
    .services-list .item:not(:nth-of-type(3n)) {
        border-right: none;
    }
    .services-list .item:not(:nth-of-type(2n)) {
        border-right: 1px solid #292b2c;
    }

    form {
        flex-direction: column;
    }
    form .form-column {
        width: 100%!important;
    }
    .submit-btn {
        padding: 10px 2px;
    }

    #portfolio-slider::after {
        content: none;
    }
    #portfolio-slider .item .content-wrapper {
        width: 100%;
    }
    #portfolio-slider .item h4 {
        margin-top: 35px;
    }
    #portfolio-slider .item .image-wrap {
        width: 500px;
        max-width: 100%;
        height: 355px;
        padding: 20px 30px;
        margin: auto;
        background-image: url('../images/ipad.png');
        background-size: contain;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }
    #portfolio-slider .item .project-image {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    #portfolio-slider .item .result ul {
        flex-wrap: wrap;
    }
    #portfolio-slider .item .result ul li {
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #about .section-content {
        flex-direction: column;
    }
    #about .text-wrap {
        width: 100%;
        margin: 20px auto;
    }
    #about .info-list {
        margin: auto;
    }

    section .container {
        padding: 0 30px;  
    }

    .blog-content {
        justify-content: center;
    }
    .blog-content .primary-content {
        width: 100%;
    }
    .blog-content .secondary-content {
        width: 600px;
        max-width: 100%;
        margin-top: 40px;
    }
    .blog-content .secondary-content .inner-wrapper-sticky {
        position: static !important;
        width: 100% !important;
        margin: auto;
        transform: none !important;
    }
    .blog-content .secondary-content .content-wrapper {
        padding-top: 20px;
    }

    .fb-page {
        display: block !important;
        text-align: center;
    }

    #seo form .form-column.fullwidth .submit-btn {
        max-width: none;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 38px;
    }

    .site-header {
        padding: 15px 0;
    }
    .site-header .container {
        height: 40px;
        padding: 0 20px;
    }
    .main-nav .menu-toggle,
    .main-nav .callback-btn-mobile,
    .main-nav .callback-btn-mobile img {
        width: 30px;
        height: 30px;
    }
    .main-nav .header-logo,
    .main-nav .header-logo img {
        width: auto;
        height: 40px;
    }
    .mobile-nav {
        height: calc(100vh - 71px);
        overflow-y: scroll;
    }
    .site-header.scrolled .mobile-nav {
        height: calc(100vh - 61px);
    }

    .home-banner .section-content .slogan {
        font-size: 20px;
    }
    .btn:not(.read-more) {
        padding: 15px 30px;
        min-width: 240px;
        font-size: 20px;
    }
    .home-banner,
    .home-banner img,
    .home-banner .banner-bg,
    .home-banner .content-wrapper {
        min-height: 750px;
    }
    .home-banner .section-content .btn {
        margin-top: 25px;
    }
    .home-banner .info-text {
        bottom: 60px;
        font-size: 16px;
    }

    section.with-horizontal-number {
        padding: 85px 0 50px;
    }
    .section-number.horizontal {
        font-size: 40px;
    }

    .section-description {
        font-size: 16px;
        margin-top: 8px;
    }

    section .container {
        padding: 0 20px;
    }

    .services-list .item {
        padding: 20px;
    }
    .services-list .item .title {
        flex-direction: column;
        height: auto;
    }
    .services-list .item .title h4 {
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }

    .services-list .item .description {
        margin: 15px 0;
        font-size: 15px;
    }
    .services-list .item .read-more {
        font-size: 15px;
    }
    .services-list .item .read-more::before {
        left: -20px;
    }
    .services-list .item .read-more::after {
        left: -26px;
    }
    .services-list .item .price {
        font-size: 22px;
    }

    .read-more {
        min-width: 120px;
        width: 120px;
    }

    section.with-vertical-number {
        padding: 90px 0 50px;
    }
    .section-number.vertical {
        top: -65px;
        left: -5px;
    }
    .section-description.big-text {
        font-size: 20px;
    }
    .form-title {
        font-size: 20px;
    }
    #analytics .analytics-list li {
        font-size: 16px;
    }
    .form-control {
        padding: 7px 10px 8px;
        font-size: 16px;
    }
    .submit-btn {
        padding: 7px 2px;
        font-size: 16px;
    }

    #portfolio-slider {
        padding: 0 40px;
    }
    #portfolio-slider .owl-prev,
    #portfolio-slider .owl-next {
        width: 26px;
        height: 26px;
    }
    #portfolio-slider .owl-item {
        padding: 5px;
    }
    #portfolio-slider .item {
        padding: 20px;
    }
    #portfolio-slider .item .category {
        font-size: 16px;
    }
    #portfolio-slider .item .project-link {
        top: 20px;
        right: 20px;
        padding: 7px 14px 10px;
        font-size: 16px;
    }
    #portfolio-slider .item h4 {
        margin: 25px 0;
        font-size: 34px;
    }
    #portfolio-slider .item .image-wrap {
        width: 400px;
        max-width: 100%;
        height: 284px;
    }
    #portfolio-slider .item .description {
        margin: 18px 0 25px;
        font-size: 16px;
    }
    #portfolio-slider .item h5 {
        font-size: 20px;
    }
    #portfolio-slider .item h5::before {
        width: 180px;
        left: -19px;
    }
    #portfolio-slider .item h5::after {
        left: -28px;
    }
    #portfolio-slider .item .result ul li .count {
        font-size: 48px;
    }
    #portfolio-slider .item .result ul li .text {
        font-size: 17px;
    }

    .large-text {
        font-size: 30px;
    }

    #about .section-text {
        margin-top: 20px;
        font-size: 16px;
    }
    #about .info-list li .count {
        width: 140px;
        font-size: 42px;
    }
    #about .info-list li .text {
        font-size: 17px;
    }

    #clients-slider .item .text {
        font-size: 14px;
    }

    .site-footer .footer-content {
        flex-direction: column;
        align-items: center;
        padding: 35px 0 25px;
    }
    .site-footer .footer-content .column {
        width: 100%;
        margin-bottom: 20px;
    }
    .site-footer .footer-content .column:nth-of-type(1),
    .site-footer .footer-content .column:nth-of-type(2),
    .site-footer .footer-content .column:nth-of-type(3) {
        text-align: center;
    }

    .popup-form .form-wrap {
        padding: 25px;
    }
    .popup-form .form-wrap .close-btn {
        top: -40px;
        width: 40px;
        height: 40px;
        font-size: 30px;
        line-height: 40px;
    }
    .popup-form .form-wrap .close-btn .close-icon {
        width: 16px;
        height: 16px;
    }
    .popup-form .form-wrap h4 {
        font-size: 36px;
    }
    .popup-form .form-wrap .popup-text {
        font-size: 20px;
    }

    .form-with-border h4 {
        font-size: 20px;
    }

    .categories ul a {
        font-size: 16px;
    }

    .portfolio-page,
    .blog,
    .single {
        margin-top: 100px;
    }
    .portfolio-page h1,
    .blog h1,
    .single .post h1 {
        font-size: 36px;
        margin-top: 20px;
    }
    .portfolio-page .page-content,
    .blog .page-content,
    .single .page-content {
        margin-top: 40px;
    }
    .portfolio-page .page-content .project {
        width: 100%;
        margin-bottom: 30px;
    }
    .portfolio-page .page-content .project .image-wrap {
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .portfolio-page .page-content .project .image-wrap .project-image {
        max-width: 500px;
        height: auto;
        margin: auto;
    }
    .portfolio-page .page-content .project h4 {
        text-align: center;
    }
    .portfolio-page .page-content .project .project-link {
        min-width: 160px;
        width: 160px;
        padding: 5px 8px;
        font-size: 15px;
    }

    .blog .post {
        flex-direction: column;
    }
    .blog .post .post-image {
        width: 90%;
        max-width: 400px;
        margin: 20px auto;
    }
    .blog .post .post-image img {
        height: auto;
    }
    .blog .post .post-content {
        width: 100%;
    }
    .blog .post .post-content .content-text {
        min-height: 0;
    }
}

@media (max-width: 580px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 17px;
    }
    h3 {
        font-size: 32px;
    }

    .btn:not(.read-more) {
        padding: 10px 20px;
        min-width: 180px;
        font-size: 17px;
    }

    .site-header {
        max-width: 100vw;
    }
    .main-nav .header-logo, 
    .main-nav .header-logo img {
        height: 30px;
    }
    .site-header.scrolled .main-nav .header-logo {
        height: 25px;
    }
    .main-nav .menu-toggle, .main-nav .callback-btn-mobile, 
    .main-nav .callback-btn-mobile img {
        width: 25px;
        height: 25px;
    }
    .main-nav .menu-toggle .line-1 {
        top: 3px;
    }
    .main-nav .menu-toggle .line-3 {
        bottom: 3px;
    }

    nav ul a {
        font-size: 16px;
    }

    section .container {
        padding: 0;
    }

    .form-with-border {
        padding: 20px;
    }
    .form-with-border h4 {
        position: static;
        padding: 0 15px;
        white-space: normal;
        font-size: 16px;
        transform: translateX(0);
    }

    .home-banner .section-content .content-column {
        width: 95%;
    }
    .home-banner .section-content .content-column:nth-of-type(2) {
        margin-top: 15px;
    }
    .home-banner .section-content .horizontal-short-line {
        margin: 12px 0 15px;
    }
    .home-banner .section-content .slogan {
        font-size: 17px;
    }
    .home-banner .info-text {
        left: 10px;
        bottom: 40px;
        font-size: 12px;
    }

    .section-number.horizontal {
        font-size: 36px;
    }

    .section-description {
        font-size: 14px;
    }

    #services-slider {
        display: block;
        border: none;
    }
    #services-slider .item {
        width: 350px;
        max-width: calc(100% - 60px);
        margin: auto;
        border: 1px solid #292b2c;
    }
    #services-slider .owl-nav {
        margin: 0;
    }
    #services-slider .owl-prev {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 26px;
        height: 26px;
        padding: 0 !important;
        margin: 0;
        background-image: url(../images/nav-arrow.svg);
        background-size: contain;
        transform-origin: center;
        transform: scale(-1, 1) translateY(-50%);
    }
    #services-slider .owl-next {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 26px;
        height: 26px;
        padding: 0 !important;
        margin: 0;
        background-image: url(../images/nav-arrow.svg);
        background-size: contain;
        transform: translateY(-50%);
    }
    #services-slider .owl-prev:hover, 
    #services-slider .owl-next:hover {
        background-color: transparent;
    }
    #services-slider .item .description {
        max-height: none;
    }
    .services-list:not(#services-slider) {
        display: none;
    }
    #services .btn-ajax {
        display: none;
    }


    .section-description.big-text {
        font-size: 17px;
    }

    #analytics .analytics-list {
        flex-direction: column;
        align-items: center;
    }
    #analytics .analytics-list li {
        width: 240px;
    }

    #portfolio-slider {
        padding: 0;
    }
    #portfolio-slider .owl-prev, 
    #portfolio-slider .owl-next,
    #portfolio-slider .owl-prev:hover, 
    #portfolio-slider .owl-next:hover {
        top: 10%;
        background-color: rgba(0, 0, 0, .7);
        box-shadow: 0 0 0 4px rgba(0, 0, 0, .7);
    }
    #portfolio-slider .item .category {
        text-align: center;
    }
    #portfolio-slider .item h4 {
        font-size: 30px;
        text-align: center;
    }
    #portfolio-slider .item .project-link {
        position: static;
        display: inline-block;
        margin-bottom: 20px;
    }
    #portfolio-slider .item .image-wrap {
        width: 260px;
        height: 190px;
        padding: 10px 20px;
    }

    #portfolio-slider .item .result ul li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
        text-align: center;
    }
    #portfolio-slider .item .result ul li .count {
        font-size: 40px;
    }
    #portfolio-slider .item .result ul li .text {
        max-width: none;
    }
    .btn-more {
        margin: 30px 15px 0 auto;
    }

    .large-text {
        font-size: 24px;
    }

    #about .section-text {
        font-size: 14px;
    }

    .mobile-hide {
        display: none;
    }

    #about .info-list li .count {
        width: 120px;
        min-width: 120px;
        font-size: 36px
    }
    #about .info-list li .text {
        font-size: 15px;
    }

    #clients-slider .item .text {
        max-width: 140px;
    }

    .container.mobile-fullwidth {
        max-width: 100%;
    }

    .site-footer {
        margin-top: 30px;
    }
    .site-footer .contacts {
        height: 300px;
    }
    .site-footer .contacts iframe {
        height: 350px;
    }
    .site-footer .contacts-info {
        position: static;
        padding: 25px 30px;
        transform: none;
    }
    .site-footer .contacts-info h3 {
        font-size: 40px;
    }
    .site-footer .contacts-info address,
    .site-footer .contacts-info a.mail,
    .site-footer .contacts-info .text {
        font-size: 18px;
    }
    .site-footer .contacts-info a.phone {
        font-size: 20px;
    }
    .site-footer .contacts-info .social-links a {
        width: 28px;
        height: 28px;
        margin: 0 10px;
    }

    .site-footer .footer-content {
        padding: 30px 0 20px;
    }
    .site-footer .footer-content .column {
        margin-bottom: 16px;
    }
    .site-footer .footer-content a.phone {
        font-size: 20px;
    }
    .site-footer .footer-content .footer-logo img {
        height: 35px;
    }
    .site-footer .footer-content .callback-btn {
        font-size: 16px;
    }
    .site-footer .footer-content .site-info {
        margin-top: 15px;
        font-size: 14px;
    }

    .popup-form .form-wrap {
        padding: 15px;
    }
    .popup-form .form-wrap h4 {
        font-size: 28px;
    }
    .popup-form .form-wrap .popup-text,
    .popup-form .form-wrap .form-description {
        font-size: 16px;
    }
    .popup-form .form-wrap .popup-divider {
        width: 180px;
        margin: 10px 0;
    }

    .categories {
        padding: 0;
    }
    .categories ul a {
        padding: 6px 10px;
        font-size: 14px;
    }

    .portfolio-page,
    .blog,
    .single {
        margin-bottom: 40px;
    }
    .portfolio-page h1,
    .blog h1,
    .single .post h1 {
        font-size: 30px;
    }
    .portfolio-page .page-content .project {
        padding-bottom: 40px;
    }
    .portfolio-page .page-content .project .image-wrap {
        padding: 0;
    }
    .portfolio-page .page-content .project .text-content {
        padding: 15px 15px 20px;
        font-size: 14px;
    }
    .portfolio-page .page-content .project h4 {
        font-size: 18px;
    }
    .portfolio-page .page-content .project .category {
        padding: 4px 6px;
        font-size: 16px;
    }
    .portfolio-page .page-content .project .project-link {
        right: 15px;
        bottom: 20px;
        min-width: 140px;
        width: 140px;
        font-size: 14px;
    }

    .blog-content {
        padding: 0;
    }
    .blog .post .post-content {
        padding: 5px 10px;
        font-size: 14px;
    }
    .blog .post .post-content h3 {
        font-size: 24px;
    }
    .blog .post .post-content .post-categories a {
        font-size: 15px;
    }
    .blog .post .tags-list .icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .blog .post .tags-list a {
        font-size: 12px;
    }
    .blog .post .read-more {
        min-width: 110px;
        width: 110px;
        padding: 4px 6px;
        font-size: 12px;
    }
    .blog .post:not(:last-of-type) {
        margin-bottom: 30px;
    }
    .blog .post:not(:last-of-type)::after {
        bottom: -16px;
        width: 240px;
    }

    .blog-content .secondary-content h4 {
        margin: 15px 0 0;
        font-size: 17px;
    }
    .blog-content .secondary-content .tags {
        padding: 10px;
    }
    .blog-content .secondary-content .tags .icon {
        width: 20px;
        min-width: 20px;
        height: 20px;
        margin-right: 7px;
    }
    .blog-content .secondary-content .tags a {
        font-size: 14px;
    }

    .pagination {
        margin-top: 25px;
    }
    .pagination .nav-link {
        width: 18px;
        height: 18px;
        font-size: 16px;
        line-height: 18px;
    }

    .single .post .post-categories a {
        font-size: 17px;
    }
    .single .post .date {
        font-size: 14px;
    }
    .single .post .post-content {
        font-size: 14px;
    }
    .single .post .tags-list .icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .single .post .tags-list a {
        font-size: 12px;
    }
}