@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #4e4e4d;
	font-weight: 400;
	position: relative;
}

body.hidden {
	overflow: hidden;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #4e4e4d;
	font-weight: 400;
}

h1 {
	font-size: 54px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 5.4px;
}

h2 {
	font-size: 36px;
	color: #000;
}

h3 {
	font-size: 24px;
	color: #000;
}

h4 {
	font-size: 18px;
	line-height: 28px;
}

h5 {
	font-size: 16px;
	line-height: 26px;
}

ul {
	list-style: none;
}

body button:focus {
	outline: none;
}

.color-green {
	color: #62be1e;
}

.color-orange {
	color: #fe8a01;
}

.wrapper {
	width: 100%;
	max-width: 1290px;
}

.shadow-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	z-index: 0;
}

.shadow-screen.active {
	opacity: 0.8;
	z-index: 1;
}

/*HEADER BLOCK*/

.logo-img {
 max-width: 176px;
}

#header .navbar-toggler-icon {
	height: unset;
	width: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #fff;
	padding: 5px 7px;
    border-radius: 4px;
}

.navbar-toggler-icon i {
	color: #fff;
}


@media screen and (max-width: 992px) {
	.logo-img {
	 max-width: 98px;
	}
}

@media screen and (max-width: 768px) {
	.logo-img {
		 max-width: 60px;
	}
}

#header .navbar-nav .nav-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	padding: 4px 0 8px;
    margin: 0 5px;
}

@media screen and (max-width: 1144px) {
	#header .navbar-nav .nav-link {
		font-size: 11px;
	}
}

@media screen and (max-width: 992px) {
	#header .navbar-nav .nav-link {
		font-size: 14px;
	}
}

#header .navbar-nav {
	width: 86%;
	justify-content: space-around;
	margin: auto;
}

#header .navbar-nav .nav-link:hover.nav-link:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 4px;
	bottom: 0;
	left: 0;
	background-color: #fe8a01
}

@media screen and (max-width: 992px) {
	#header .navbar-nav {
		text-align: center;
	}
}
.navbar__contact-block {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.navbar__contact-block.mobile {
	display: none;
}

@media screen and (max-width: 992px) {
	.navbar__contact-block {
		display: none;
	}
	.navbar__contact-block.mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.navbar__contact-top {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 992px) {
	.navbar__contact-top {
		flex-direction: column;
	}
}
.navbar__language {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/*background-color: #fff;*/
	padding: 0 5px;
	margin: 0
}

@media screen and (max-width: 992px) {
	.navbar__language {
		margin-bottom: 1rem
	}
}

.navbar__language.mobile {
	display: none;
}

@media screen and (max-width: 992px) {
	.navbar__language.mobile {
		display: block;
	}
	
}

.navbar__language-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.navbar__language-link {
	font-size: 10px;
	color: #fff;
}

.navbar__language-link.active {
	text-decoration: underline;
}

.navbar__language-link:hover {
	text-decoration: none;
	color: #4e4e4d;
}

.header__flag-icon {
	max-width: 15px;
}

.navbar__language-text {
	font-size: 10px;
}

.navbar__socials {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0;
}

@media screen and (max-width: 992px) {
	.navbar__socials {
		margin-bottom: 1rem
	}
}

.navbar__socials-item {
	background-color: #62be1e;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.navbar__socials-item:hover {
	background-color: transparent;
	border: 1px solid #fff;
}

.navbar__socials-item i {
	color: #fff
}

.navbar__contact-email {
	border: none;
    /*width: 100%;*/
    outline: none;
    /*text-decoration: underline;*/
    cursor: pointer;
    font-weight: 400;
    background: none;
    color: #fff;
    /*margin: 10px 0;*/
    /*text-align: left;*/
}

@media screen and (max-width: 992px) {
	.navbar-phone {
		display: none;
	}
}

.navbar__phone-number {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	line-height: 24px;
	margin: 0;
}

.navbar__phone-call {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: underline;
}

.navbar__phone-call:hover {
	color: #fff;
}

.navbar__phone-call.mobile {
	display: none;
}

@media screen and (max-width: 992px) {
	.navbar__phone-call.mobile {
		display: block;
	}
}

@media screen and (max-width: 375px) {
	.navbar__phone-call.mobile {
		font-size: 14px;
	}
}





/*////////hero block*/
.hero {
	background-image: url('../img/main-banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	position: relative;
}

@media screen and (max-width: 768px) {
	.hero {
		height: 600px;
	}
}

@media screen and (max-width: 452px) {
	.hero {
		height: 450px;
	}
}

.hero__inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hero__heading {
	color: #fff;
	margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
	.hero__heading {
		font-size: 32px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 452px) {
	.hero__heading {
		font-size: 24px;
		margin-bottom: 30px;
	}
}

.base-button {
	font-size: 18px;
    color: #fff;
    background: #62be1e;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 18px;
    outline: 0 none;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    /*height: 50px;*/
    line-height: 24px;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 14px 0;
    letter-spacing: 0.9px;
    position: relative;
    transition-duration: .3s
}

.base-button:hover {
	background: transparent;
}

.base-button:hover.base-button:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 4px;
	transition-duration: .3s
}

.base-button:hover {
	color: #fff;
	text-decoration: none;
}


