@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #4e4e4d;
	font-weight: 400;
	position: relative;
}

body.hidden {
	overflow: hidden;
}

body p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #4e4e4d;
	font-weight: 400;
}

body h1 {
	font-size: 54px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 5.4px;
}

body h2 {
	font-size: 36px;
	color: #000;
	font-weight: 400;
}

body body h3 {
	font-size: 24px;
	color: #000;
}

body h4 {
	font-size: 18px;
	line-height: 28px;
}

body h5 {
	font-size: 16px;
	line-height: 26px;
}

@media screen and (max-width: 767px) {
	body h1 {
		font-size: 38px;
	}
}

ul {
	list-style: none;
}

body button:focus {
	outline: none;
}

.color-green {
	color: #62be1e;
}

.color-orange {
	color: #fe8a01;
}

.wrapper {
	width: 100%;
	max-width: 1290px;
}

.shadow-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	z-index: 0;
}

.shadow-screen.active {
	opacity: 0.8;
	z-index: 1;
}

/*HEADER BLOCK*/

#header .navbar.scrolled {
	/*height: 125px;*/
	background-color: #000;
	opacity: .8;
}

.logo-img {
 max-width: 176px;
}

.header-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

@media screen and (max-width: 992px) {
	.header-inner {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

#header .navbar-toggler-icon {
	height: unset;
	width: unset;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border: 3px solid #fff;
	padding: 5px 7px;
    border-radius: 4px;
}

.navbar-toggler-icon i {
	color: #fff;
}


@media screen and (max-width: 992px) {
	.logo-img {
	 max-width: 98px;
	}
}

@media screen and (max-width: 768px) {
	.logo-img {
		 max-width: 60px;
	}
}

.header__navbar-dropdown-menu.dropdown-menu {
	background-color: #000;
	/*opacity: .8*/
}

.header__navbar-dropdown-menu.dropdown-menu .dropdown-item {
	color: #fff;
}

.header__navbar-dropdown-menu.dropdown-menu .dropdown-item:hover {
	color: #000;
}

#header .navbar-nav .nav-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	padding: 4px 0 8px;
    margin: 0 5px;
}

@media screen and (max-width: 1144px) {
	#header .navbar-nav .nav-link {
		font-size: 11px;
	}
}

@media screen and (max-width: 992px) {
	#header .navbar-nav .nav-link {
		font-size: 14px;
	}
}

#header .navbar-nav {
	width: 86%;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: auto;
}

#header .navbar-nav .nav-link:hover.nav-link:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 4px;
	bottom: 0;
	left: 0;
	background-color: #fe8a01
}

@media screen and (max-width: 992px) {
	#header .navbar-nav {
		text-align: center;
	}
}
.navbar__contact-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
}

.navbar__contact-block.mobile {
	display: none;
}

@media screen and (max-width: 992px) {
	.navbar__contact-block {
		display: none;
	}
	.navbar__contact-block.mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

.navbar__contact-top {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

@media screen and (max-width: 992px) {
	.navbar__contact-top {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
.navbar__language {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	/*background-color: #fff;*/
	padding: 0 5px;
	margin: 0
}

@media screen and (max-width: 992px) {
	.navbar__language {
		margin-bottom: 1rem
	}
}

.navbar__language.mobile {
	display: none;
}

@media screen and (max-width: 992px) {
	.navbar__language.mobile {
		display: block;
	}
	
}

.navbar__language-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}



.navbar__language-link {
	font-size: 10px;
	color: #fff;
}

.navbar__language-link.active {
	text-decoration: underline;
}

.navbar__language-link:hover {
	text-decoration: none;
	color: #62be1e;
}

.header__flag-icon {
	max-width: 15px;
}

.navbar__language-text {
	font-size: 10px;
}

.navbar__socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
}

@media screen and (max-width: 992px) {
	.navbar__socials {
		margin-bottom: 1rem
	}
}

.navbar__socials-item {
	background-color: #62be1e;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.navbar__socials-item:hover {
	background-color: transparent;
	border: 1px solid #fff;
}

.navbar__socials-item i {
	color: #fff
}

.navbar__contact-email {
	border: none;
    /*width: 100%;*/
    outline: none;
    /*text-decoration: underline;*/
    cursor: pointer;
    font-weight: 400;
    background: none;
    color: #fff;
    /*margin: 10px 0;*/
    /*text-align: left;*/
}

@media screen and (max-width: 992px) {
	.navbar-phone {
		display: none;
	}
}

.navbar__phone-number {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	line-height: 24px;
	margin: 0;
}

.navbar__phone-call {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: underline;
}

.navbar__phone-call:hover {
	color: #fff;
}

.navbar__phone-call.mobile {
	display: none;
}

@media screen and (max-width: 992px) {
	.navbar__phone-call.mobile {
		display: block;
	}
}

@media screen and (max-width: 375px) {
	.navbar__phone-call.mobile {
		font-size: 14px;
	}
}





/*////////hero block*/
.hero {
	background-image: url('../img/main-banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	position: relative;
}

@media screen and (max-width: 768px) {
	.hero {
		height: 600px;
	}
}

@media screen and (max-width: 452px) {
	.hero {
		height: 450px;
	}
}

.hero__inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
}

.hero__heading {
	color: #fff;
	margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
	.hero__heading {
		font-size: 32px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 452px) {
	.hero__heading {
		font-size: 24px;
		margin-bottom: 30px;
	}
}

.base-button {
	font-size: 18px;
    color: #fff;
    background: #62be1e;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 18px;
    outline: 0 none;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    /*height: 50px;*/
    line-height: 24px;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 14px 0;
    letter-spacing: 0.9px;
    position: relative;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-box-shadow: 0 5px 15px rgba(98, 190, 30, 0.6);
            box-shadow: 0 5px 15px rgba(98, 190, 30, 0.6);
}

/*.base-button:hover {
	background: transparent;
}

.base-button:hover.base-button:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 4px;
	transition-duration: .3s
}*/



.base-button:hover {
	color: #fff;
	text-decoration: none;
	-webkit-box-shadow: 0 5px 15px rgba(254, 138, 1, 0.6);
	        box-shadow: 0 5px 15px rgba(254, 138, 1, 0.6);
	background-color: #fe8a01;
}

.base-button:focus {
	background-color: #fe8a01;
	-webkit-box-shadow: unset;
	        box-shadow: unset;
}

/*INFO BLOCK*/
.info-block {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
}

@media screen and (max-width: 992px) {
	.info-block {
		top: -80px;
	}
}

@media screen and (max-width: 460px) {
	.info-block {
		position: static;
		margin-bottom: 100px;
	}
}

.info__items {
	max-width: 820px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: auto;
	-webkit-box-shadow: 0 5px 20px #d1d1d1;
	        box-shadow: 0 5px 20px #d1d1d1
}

@media screen and (max-width: 992px) {
	.info__items {
		width: 70%;
	}
}

@media screen and (max-width: 636px) {
	.info__items {
		width: 95%;
	}
}

@media screen and (max-width: 460px) {
	.info__items {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.info__item-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 30px 70px;
	background-color: #fff;
	position: relative;
	text-align: center;
}

@media screen and (max-width: 992px) {
	.info__item-box {
		padding: 20px 20px;
	}
}

@media screen and (max-width: 767px) {
	/*.info__item-box {
		padding: 15px 4px;
	}*/

	.info__item-box p {
		font-size: 14px;
	}
}


.info__item-box-middle:before, .info__item-box-middle:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 70%;
	background-image: url('../img/divider_info.jpg');
}

.info__item-box-middle:before {
	left: 0;
}

.info__item-box-middle:after {
	right: 0;
}

@media screen and (max-width: 460px) {
	.info__item-box-middle:before, .info__item-box-middle:after {
		width: 100%;
		height: 1px;
		left: 0;
		background-image: url('../img/divider_info2.jpg');
	}
	.info__item-box-middle:before {
		top: 0;
	}

	.info__item-box-middle:after {
		bottom: 0;
	}
}
 
/*.info__item-box-right:before {
	position: absolute;
    content: '';
    left: 10%;
    bottom: -198px;
    width: 100%;
    height: 300px;
    background-image: url(../img/figure2.png);
    background-repeat: no-repeat;
    z-index: -1;
} 
*/

.info-block__fiure {
	position: absolute;
    left: 10%;
    top: 40%;
    z-index: -1;
}

@media screen and (max-width: 992px) {
	.info-block__fiure {
		width: 80%;
	}
}

.info__item-box img {
	margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
	.info__item-box img {
		margin-bottom: 10px;
	}
}




/*ABOUT BLOCK*/

.about {
	padding: 200px 0  0px;
	position: relative;
}

@media screen and (max-width: 992px) {
	.about {
		padding: 150px 0  0;
	}
}

@media screen and (max-width: 460px) {
	.about {
		padding: 70px 0  0;
	}
}

.about__heading {
	position: absolute;
    top: 30px;
    left: -197px; 
}

@media screen and (max-width: 767px) {
	.about__heading {
		position: static;
		text-align: center;
		margin-bottom: 30px;
	}
}

.about__img img {
	margin-bottom: 30px;
}

.about__text {
	height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

@media screen and (max-width: 1290px) {
	.about__text {
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		height: 95%;
	}
}

.about__text p {
	height: 100%;
	max-height: 346px;
	font-size: 20px;
	font-weight: 300;
	line-height: 40px;
	position: relative;
	padding-left: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.about__text p:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 18px;
	left: 0;
	background-image: url('../img/line-1.jpg');
	/*background-size: contain;*/
	background-repeat: no-repeat;
}

@media screen and (max-width: 1290px) {
	.about__text p {
		font-size: 18px;
		height: 287px;
		line-height: 30px;
	}
}

@media screen and (max-width: 880px) {
	.about__text p {
		font-size: 14px;
	    height: 240px;
	    line-height: 24px;
	}
}

@media screen and (max-width: 375px) {
	.about__text p {
	    height: 335px;
	}
}


@media screen and (max-width: 992px) {
	.about__text h1 {
		position: static;
	}
}

@media screen and (max-width: 880px) {
	.about__text h1 {
		font-size: 38px;
	}
	.about__text h2 {
		font-size: 28px;
	}
}

@media screen and (max-width: 767px) {
	.about__text h2 {
		text-align: center;
	}
}

.about__label-block {
	height: 130px;
	position: relative;
}

.about__label-block:before {
	content: '';
    position: absolute;
    right: -8px;
    top: -30px;
    background-image: url(../img/GREENAREA.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 15px;
}


/*SERVICE BLOCK*/

.service {
	padding: 70px 0 100px;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.service {
		padding: 40px 0 100px;
	}
}

@media screen and (max-width: 425px) {
	.service {
		padding: 40px 0 30px;
	}
}

@media screen and (max-width: 388px) {
	.service {
		padding: 00px 0 40px;
	}
}

.service h1 {
	margin-bottom: 50px;
	position: relative;
}

.service h1:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 115px;
	top: -115px;
	left: 0;
	background-image: url(../img/service/line-2.jpg);
	background-repeat: no-repeat;
}



.service__wrapper {
	position: relative;
	padding: 40px;
}

@media screen and (max-width: 767px) {
	.service__wrapper {
		padding: 40px 0;
	}
}

.service__wrapper:before {
	content: '';
	position: absolute;
	background-image: url(../img/service/left-corner.png);
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	width: 42px;
	height: 42px;
} 

.service__wrapper:after {
	content: '';
	position: absolute;
	background-image: url(../img/service/right-corner.png);
	background-repeat: no-repeat;
	bottom: 130px;
	right: 0;
	width: 42px;
	height: 42px;
} 

@media screen and (max-width: 1290px) {
	.service__wrapper:after {
		bottom: 80px;
	}
}

@media screen and (max-width: 767px) {
	.service__wrapper:after {
		bottom: 50px;
	}
}

.service__item {
	height: 305px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	margin-bottom: 140px;
	-webkit-transition-duration: .3s;
	     -o-transition-duration: .3s;
	        transition-duration: .3s
}

.service__item:hover {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-transition-duration: .3s;
	     -o-transition-duration: .3s;
	        transition-duration: .3s
}

.service__item:hover .service__item-text {
	margin-bottom: 0;
	-webkit-transition-duration: .3s;
	     -o-transition-duration: .3s;
	        transition-duration: .3s
}

@media screen and (max-width: 1290px) {
	.service__item {
		margin-bottom: 90px;
		height: 20vw;
	}
}

@media screen and (max-width: 992px) {
	.service__item {
		margin-bottom: 90px;
		height: 305px;
	}
}


@media screen and (max-width: 860px) {
	.service__item {
		height: 260px;
	}
}

@media screen and (max-width: 767px) {
	.service__item {
		/*height: 305px;*/
		height: 65vw;
		margin-bottom: 60px;
	}
}

.service__item-img {
	position: absolute;
	max-width: 100%;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

@media screen and (max-width: 767px) {
	.service__item-img {
		height: 100%;
		-o-object-fit: contain;
		object-fit: contain
	}
}

.service__item-text {
	height: 150px;
	width: 70%;
	max-width: 200px;
	/*margin: auto;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-shadow: 0 5px 10px #dedede;
	        box-shadow: 0 5px 10px #dedede;
	background-color: #fcfcfc;
	z-index: 1;
	margin-bottom: -75px;
	-webkit-transition-duration: .3s;
	     -o-transition-duration: .3s;
	        transition-duration: .3s
	/*margin-top: calc(100% - 77px);*/
}

.service__item-text h4 {
	width: 80%;
	color: #4e4e4d;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	position: relative;
/*	border-top: 1px solid #ff8600;
	border-bottom: 1px solid #ff8600;*/
	border-width: 40%;
	text-align: left;
	margin-bottom: 0;
	padding: 13px 0;

}

.service__item-text h4:before, .service__item-text h4:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 1px;
	left: 0;
	background-color: #ff8600
}

.service__item-text h4:before {
	top: 0;
}
.service__item-text h4:after {
	bottom: 0;
}

@media screen and (max-width: 1290px) {
	
	.service__item-text {
		height: 120px;
		margin-bottom: -60px;
		/*margin-top: calc(100% - 60px);*/
	}


	.service__item-text h4 {
		font-size: 13px;
	    line-height: 18px;
	    /*padding: 13px 0;*/
	}
}

@media screen and (max-width: 1144px) {
	
	.service__item-text {
		/*margin-bottom: -5%;*/
	}
}

@media screen and (max-width: 992px) {

	.service__item-text {
		height: 80px;
		margin-bottom: -40px;
	}

	.service__item-text h4 {
	    font-size: 12px;
	    line-height: 18px;
    }
 }

 @media screen and (max-width: 340px) {
 	.service__item-text {
 		margin-bottom: -20px;
 	}
 }

.service a:hover {
	text-decoration: none;
}


.service__items-wrap {
	margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 30px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}

@media screen and (max-width: 1140px) {
	.service__items-wrap {
		-ms-grid-columns: 1fr 1fr ;
	    grid-template-columns: 1fr 1fr ;
	    -ms-grid-rows: 1fr 30px 1fr 30px 1fr 30px 1fr;
	    grid-template-rows: 1fr 1fr 1fr 1fr;
	}
}


/*SCHEME BLOCK*/


.sheme h1 {
	margin-bottom: 50px;
	position: relative;
	text-align: center;
}

.sheme h1:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 115px;
	top: -115px;
	left: 0;
	background-image: url(../img/service/line-2.jpg);
	background-repeat: no-repeat;
}

.sheme__label-block {
	height: 130px;
	position: relative;
}

.sheme__label-block:before {
	content: '';
    position: absolute;
    left: -8px;
    top: -60px;
    background-image: url(../img/greenarea2.png);
    background-repeat: no-repeat;
    height: 230px;
    width: 40px;
}

.sheme__label-block:after {
	content: '';
    position: absolute;
    right: -160px;
    top: -60px;
    background-image: url(../img/figure2.png);
    background-repeat: no-repeat;
    width: 227px;
	height: 275px;
}

@media screen and (max-width: 1599px) {
	.sheme__label-block:after {
		right: -8vw;
	}
}

@media screen and (max-width: 1499px) {
	.sheme__label-block:after {
		right: -2vw;
		top: -100px;
	}
}

@media screen and (max-width: 992px) {
	.sheme__label-block:before {
		background-size: contain;
		height: 100%;
		width: 100%;
	}

	.sheme__label-block:after {
		background-size: contain;
		height: 100%;
		right: -23px;
    	top: -53px;
	}
}

@media screen and (max-width: 588px) {

	.sheme__label-block {
		height: 70px;
	}
	.sheme__label-block:before {
		background-size: contain;
		height: 130px;
		width: 14px;
	}

	.sheme__label-block:after {
		display: none;
	}
}


.sheme__label-block-2 {
	height: 290px;
	position: relative;
}

.sheme__label-block-2:before {
	content: '';
    position: absolute;
    left: -73px;
    bottom: 0;
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    height: 340px;
    width: 275px;
}

.sheme__label-block-2:after {
	content: '';
    position: absolute;
    right: 0;
    bottom: 50px;
    background-image: url(../img/schema.png);
    background-repeat: no-repeat;
    width: 27px;
	height: 213px;
}

@media screen and (max-width: 1440px) {
	.sheme__label-block-2:before {
		left: 1vw;
	}
}

@media screen and (max-width: 992px) {

	.sheme__label-block-2:after {
		background-size: contain;
		width: 14px;
		height: 100%;
	} 

	.sheme__label-block-2:before {
		left: calc(50vw - 137.5px);
	}
}

@media screen and (max-width: 588px) {
	.sheme__label-block-2 {
		height: 130px;
	}

	.sheme__label-block-2:before {
		display: none;
	}
}

.sheme__items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.sheme__item-wrap {
	max-width: 24%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 30px;
}

.sheme__item-wrap p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	max-width: 256px;
}

.sheme__item-wrap img {
	margin-bottom: 35px;
}

@media screen and (max-width: 992px) {
	.sheme__item-wrap p  {
		font-size: 14px;
	    line-height: 22px;
	    max-width: 198px;
	}
}

@media screen and (max-width: 588px) {
	.sheme__item-wrap {
		max-width: 49%;
	}
}

.sheme__item-wrap.sheme__item-arrow {
	width: auto;
}

.sheme__item-wrap:nth-child(1) {
	order: 1;
}

.sheme__item-wrap:nth-child(2) {
	order: 2;
}

.sheme__item-wrap:nth-child(3) {
	order: 6;
}

.sheme__item-wrap:nth-child(4) {
	order: 4;
}

.sheme__item-wrap:nth-child(5) {
	order: 3;
}

.sheme__item-wrap:nth-child(6) {
	order: 6;
	display: none;
}

.sheme__item-wrap:nth-child(7) {
	order: 8;
}

.sheme__item-wrap:nth-child(8) {
	order: 7;
}

.sheme__item-wrap:nth-child(9) {
	order: 5;
}

@media screen and (max-width: 588px) {

	.sheme__item-wrap.sheme__item-arrow {
		width: 100%;
	}

	.sheme__item-wrap:nth-child(1) {
		order: 1;
	}

	.sheme__item-wrap:nth-child(2) {
		order: 2;
	}

	.sheme__item-wrap:nth-child(3) {
		order: 4;
	}

	.sheme__item-wrap:nth-child(4) {
		order: 6;
	}

	.sheme__item-wrap:nth-child(5) {
		order: 5;
	}

	.sheme__item-wrap:nth-child(6) {
		order: 3;
		display: block;
	}

	.sheme__item-wrap:nth-child(7) {
		order: 8;
	}

	.sheme__item-wrap:nth-child(8) {
		order: 7;
	}

	.sheme__item-wrap:nth-child(9) {
		order: 9;
	}

	.sheme__arrow_down {
		transform: rotate(40deg);
	}

	.sheme__arrow_up {
		transform: rotate(120deg);
	}
}

@media screen and (max-width: 375px) {
	.sheme__item-wrap.sheme__item-arrow {
		display: none;
	}

	.sheme__item-wrap {
		max-width: 100%
	}

	.sheme__item-wrap img {
		margin-bottom: 16px;
	}
}

/*PHOTOGALLERY BLOCK*/

.photogallery h1 {
	margin-bottom: 50px;
	position: relative;
}

.photogallery h1:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 115px;
	top: -115px;
	left: 0;
	background-image: url(../img/service/line-2.jpg);
	background-repeat: no-repeat;
}

.photogallery__wrap-left {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}

.cont {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.photo-bottom {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.photogallery__item img {
	border-radius: 20px;
}

.photogallery__item {
	margin: 5px;
}


.photogallery__wrap-left_bottom {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 460px;
}

.photogallery__wrap-left_bottom .photogallery__item {
	width: 52%;
}



.photogallery__wrap-right  {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 784px;
}

.photogallery__wrap-right .photogallery__item {
	width: 52%;
}


/*Для рабочего кода*/
.some {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 800px;
}

.some__item:nth-child(4) {
	margin-left: -294px;
    /* margin-bottom: -344px; */
    transform: translate(10px, 323px);
}

.one {
	float: left;
}

/*Для рабочего кода*/

.some2__item {
	width: 25%;
}

.some2__item:nth-child(1) {
	width: 50%;
}



.test-wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	height: 780px;
}

.box:nth-child(1) {
	grid-column: span 2;
	grid-row: span 2;
}
.box:nth-child(2) {
	grid-column: 1/2;
	grid-row: span 3;
}
.box:nth-child(3) {
	grid-column: 1/2;
	grid-row: 4;
}
.box:nth-child(4) {

}
.box:nth-child(5) {

}
.box:nth-child(6) {

}
.box:nth-child(7) {

}
.box:nth-child(8) {

}

.some3 {
	column-count: 4;
	column-gap: 1rem;
	max-height: 800px;
	height: 60vw;
}



.some3__item {
	display: inline-block; /*// важно!*/
	width: 100%;           /*// важно!*/
	/*margin-bottom: 1em;*/
	text-align: center;
	margin: 10px;
}




.some3__item:nth-child(1) {
	width: 200%;
}

/*.some3__item:nth-child(2) img, .some3__item:nth-child(3) img {
	height: 200.36px;
}*/

.some3__item:nth-child(4) {
	/*margin-top: 111%;*/
	margin-top: calc(105% + 20px);
}

.some3__item img {
	border-radius: 15px;
}

@media screen and (max-width: 992px) {
	.some3 {
		width: 98%;
	}
}

@media screen and (max-width: 768px ) {

	.some3 {
		column-gap: 0.5rem;
	}

	.some3__item {
		margin: 8px;
	}
}

@media screen and (max-width: 576px ) {
	.some3__item {
		margin: 3px;
	}

	.some3__item:nth-child(4) {
		margin-top: calc(105% + 3px)
	}
}

@media screen and (max-width: 576px ) {	
	.some3__item {
		margin: 2px;
	}
}


.some4 {
	column-count: 4;
	column-gap: 1rem;
	height: 800px
}

.some4__item {
	display: inline-block; /*// важно!*/
	width: 100%;           /*// важно!*/
	/*margin-bottom: 1em;*/
	text-align: center;
	margin: 10px;
}


.some4__item:nth-child(1) {
	/*width: 200%;*/
	column-span: 2
}

/*.some3__item:nth-child(2) img, .some3__item:nth-child(3) img {
	height: 200.36px;
}*/

.some4__item:nth-child(4) {
	/*margin-top: 111%;*/
	/*margin-top: calc(105% + 20px);*/
}

.some4__item img {
	border-radius: 15px;
}


